:root {
    --font-primary: "monocraft";
    --color-background: #bfa6a1;
    --color-text: #DDD;
    --color-shadow: #583831;
    --button-bg: url("../assets/img/bgbtn.webp");
    --padding-standard: 1.2rem;
    --text-shadow: 2px 2px #000;
    image-rendering: pixelated;
}
html{
    font-family: var(--font-primary);
    height: 100%;
}
button{ 
    outline: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
  }
body{
    background-image: url("../assets/img/bg-spruce.webp");
    background-position: center;
    background-size: 12vh;
    height: auto;
    
    display: flex;
    flex-direction: row;
}
.frame-btn {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* AÑADE ESTO */
    aspect-ratio: 1/1;
    width: 12vh;
    box-sizing: border-box;
    background-image: var(--button-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}