:root {
    --font-primary: "monocraft";
    --color-background: #bfa6a1;
    --color-text: #DDD;
    --color-shadow: #583831;
    --button-bg: url("../assets/img/bgbtn.webp");
    --padding-standard: 1.2rem;
    --text-shadow: 2px 2px #000;
    image-rendering: pixelated;
}
*{
    font-family: "monocraft";
}
button{ 
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
  }

body{
    background-image: url("../assets/img/bg-spruce.webp");
    background-position: center;
    background-size: 12vh;
}
button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    aspect-ratio: 1/1;
    width: 10vh;
    box-sizing: border-box;
    background-image: var(--button-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    
}

/* @media (max-width: 599px) {
    body{
        background-size: 14%;
    }
}
@media (max-width: 450px) {
    body{
        background-size: 20%;
    }
} */